In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series  # for convenience

import pims
import trackpy as tp

In [3]:
#read in the csv from MATLAB
f = pd.read_csv("Tracker_Input.csv")

In [4]:
f.head()  # shows the first few rows of data from MATLAB

           x           y  frame
0   7.345679   23.259259      1
1   5.778947  440.557895      1
2   7.607477  656.401869      1
3   6.767442  888.569767      1
4  10.157480  189.220472      1

In [6]:
#Track particles and write to csv for input MATLAB
# tp.quiet()  # Turn off progress reports for best performance
t = tp.link(f, memory=10, search_range = 30.0, adaptive_stop = 10.0, adaptive_step=  0.95)
t['particle'].max()
t.to_csv('Tracked_Particles_Input.csv', header=False, index=False)

Frame 450: 985 trajectories present.

In [8]:
#If you want to visualize the table:
t

                 x           y  frame  particle
0         7.345679   23.259259      1         0
605     666.900000   17.790909      1         1
606     671.394958  290.966387      1         2
607     671.770642  598.844037      1         3
608     671.487179  627.555556      1         4
...            ...         ...    ...       ...
428340  331.299065  561.738318    450      2085
428341  329.321839  994.206897    450      4224
428342  331.794118   85.509804    450      1934
428344  336.423077  975.375000    450      5321
428991  996.112150  523.785047    450      5408

[428992 rows x 4 columns]